#screensaver {
  color: #ffa500;
}
#screensaver #now_playing {
  font-weight: bold;
  text-align: left;
  width: 100%;
}
#screensaver .inner {
  position: absolute;
  left: 0;
  top: 0;
}
@media screen and (min-width: 320px) and (max-width: 400px) {
  #screensaver {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 240px;
    background: #000;
    z-index: 100;
    overflow: hidden;
  }
  #screensaver #time {
    position: absolute;
    left: 0px;
    top: 46px;
    font-family: dejavu sans;
    font-weight: bold;
    font-size: 96px;
    text-align: center;
    width: 100%;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }
  #screensaver #date {
    font-weight: bold;
    position: absolute;
    top: 158px;
    right: 8px;
    font-size: 24px;
    text-align: right;
  }
  #screensaver #weather {
    position: absolute;
    left: 8px;
    bottom: 8px;
    width: 80px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
    color: #ff0;
    background-size: 80px 80px;
    background-repeat: no-repeat;
  }
  #screensaver #timer {
    position: absolute;
    font-weight: bold;
    right: 8px;
    bottom: 8px;
    font-size: 24px;
    color: #ff0;
  }
}
@media screen and (min-width: 480px) and (max-width: 560px) {
  #screensaver {
    position: absolute;
    top: 0;
    left: 0;
    width: 480px;
    height: 320px;
    background: #000;
    z-index: 100;
    overflow: hidden;
  }
  #screensaver #time {
    position: absolute;
    left: 0px;
    top: 52px;
    font-family: dejavu sans;
    font-weight: bold;
    font-size: 144px;
    text-align: center;
    width: 100%;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }
  #screensaver #date {
    font-weight: bold;
    position: absolute;
    top: 202px;
    right: 13px;
    font-size: 36px;
    text-align: right;
  }
  #screensaver #weather {
    position: absolute;
    left: 13px;
    bottom: 8px;
    width: 100px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 75px;
    color: #ff0;
    background-size: 100px 100px;
    background-repeat: no-repeat;
  }
  #screensaver #timer {
    position: absolute;
    font-weight: bold;
    right: 13px;
    bottom: 8px;
    font-size: 36px;
    color: #ff0;
  }
}
