generate_media(width, height)
    // @media screen and (min-width: width) and (max-width: width + 80){
    .favourites {
        height: height
    }
    // }

// generate_media(320px, 64px)
generate_media(480px, 96px)
