// generate_media(width, height, height)
//     @media screen and (min-width: width) and (max-width: width + 80){
//     }
// 
// generate_media(320px, 240px, 8px, 96px, 24px, 80px)
// generate_media(480px, 320px, 13px, 144px, 36px, 100px)


